@import url("https://fonts.googleapis.com/css?family=Cardo|Fira+Code&display=swap");
body { font-family: "Cardo", serif; background-color: white; padding: 0; margin: 0; }

.page { z-index: 0; font-size: 22px; margin: 0; padding: 0; color: black; text-align: center; }

.page a { text-decoration: none; font-style: italic; color: inherit; text-transform: uppercase; }

.page a:hover { text-shadow: 1px 1px 0 #8254eb, 2px 2px 0 white, 3px 3px 0 black; transition: 0.1s; }

.titleBlock { padding: 0; margin-top: 50px; }

.titleBlock h1 { text-shadow: 2px 2px 0 black; padding: 0; margin: 0; font-size: 50px; font-weight: normal; -webkit-text-fill-color: white; /* Will override color (regardless of order) */ -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: black; }

h2, h2 a { font-size: 20px; text-transform: uppercase; text-shadow: 1px 1px 0 black; padding: 0; margin-top: 20px; font-style: italic; font-weight: normal; -webkit-text-fill-color: white; /* Will override color (regardless of order) */ -webkit-text-stroke-width: 0.5px; -webkit-text-stroke-color: black; }

.page h2 { margin-bottom: 0; }

h3 { padding: 0; margin: 15px 0; font-weight: normal; font-size: 19px; }

.post-content { text-align: left; margin-bottom: 25px; padding: 0 10px; }

.post-image { max-width: 60%; }

.post-list { list-style-type: none; margin-top: 35px; padding: 0; }

.related-posts .post-list { margin-top: 15px; }

.post-preview { margin-bottom: 25px; padding-bottom: 30px; }

.post-preview p { padding: 0 10px; text-align: left; margin: 0 auto; line-height: 30px; font-size: 22px; }

.post-preview p a { text-transform: uppercase; }

.post-preview p a:hover { text-shadow: 1px 1px 0 #8254eb, 2px 2px 0 white, 3px 3px 0 black; transition: 0.1s; }

.post-preview .read-more { float: left; padding-top: 5px; font-size: 15px; }

.post-preview:last-of-type { margin-right: 0; }

.see-more { text-transform: uppercase; padding-top: 5px; font-size: 15px; }

.blogImage { position: relative; padding-bottom: 20px; }

.blogImage img { object-fit: cover; height: 280px; width: 100%; filter: brightness(30%); }

.blogImage .post-link { position: absolute; text-transform: uppercase; top: 40%; left: 50%; color: white; line-height: 1.2; text-shadow: 2px 2px 0 black; transform: translate(-50%, -50%); font-size: 30px; width: 90%; font-style: unset; }

.blogImage .post-link:hover { text-shadow: 1px 1px 0 black, 2px 2px 0 #8254eb, 3px 3px 0 white, 4px 4px 0 black; transition: 0.1s; }

.blogImage .post-categories { text-transform: uppercase; position: absolute; top: 60%; left: 50%; color: white; text-shadow: 2px 2px 0 black; transform: translate(-50%, -50%); font-size: 20px; }

.blogImage .post-categories a { font-style: normal; }

.pagination { font-style: italic; font-size: 22px; margin-bottom: 20px; }

.pagination a:hover { text-shadow: 1px 1px 0 #8254eb, 2px 2px 0 white, 3px 3px 0 black; transition: 0.1s; }

.topic { margin-top: 20px; }

hr { border-style: solid; border-width: 0.5px; border-color: black; }

.absolute-hr { position: absolute; left: 0; width: 99vw; }

.h2-with-absolute-hr { margin-top: 50px; }

footer hr { width: 99vw; }

footer p { padding-left: 20px; }

@media only screen and (min-width: 500px) and (max-width: 900px) { .page { margin: 0 auto; max-width: 90%; }
  .post-content p { padding: 0 17%; }
  .post-preview p { padding: 0 17%; }
  .blogImage img { height: 280px; }
  .titleBlock h1 { font-size: 75px; }
  h2, h2 a { font-size: 28px; }
  .absolute-hr { width: 99.8vw; }
  footer hr { width: 99.8vw; } }

@media only screen and (min-width: 600px) and (max-width: 800px) { .post-preview p { padding: 0 7%; }
  .post-content p { padding: 0 7%; } }

@media only screen and (min-width: 900px) { /* For desktop: */
  .post-date { text-align: left; }
  .page { margin: 0 auto; max-width: 75%; }
  .post-content { max-width: 60%; margin: 0 auto; }
  .post-list { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; }
  .titleBlock { margin-top: 100px; }
  .titleBlock h1 { font-size: 90px; }
  h2, h2 a { font-size: 25px; }
  h3 { font-size: 24px; }
  .post-preview { max-width: 32%; padding-bottom: 5px; margin-right: 1.3%; }
  .post-preview img { height: 300px; }
  .post-preview p { padding: 0; max-width: 100%; }
  .post-preview .post-link { font-size: 30px; }
  .post-preview .post-categories { font-size: 20px; }
  .see-more { float: left; }
  .post-preview.first { max-width: 100%; }
  .post-preview.first img { height: 600px; width: 100%; }
  .post-preview.first p { max-width: 50%; }
  .post-preview.first .blogImage .post-link { font-size: 55px; }
  .post-preview.first .blogImage .post-categories { font-size: 30px; }
  .absolute-hr { width: 99.8vw; }
  footer hr { width: 99.8vw; } }

/*# sourceMappingURL=main.css.map */